body {
    background-color: powderblue;
    color: darkslategrey;
    font-family: sans-serif;
}

h1 {
    color: blue;
    font-size: 30px;
    margin-left: 20px;
}

p {
    color: red;
    font-size: 16px;
}
